html
  head
    meta(charset="utf-8")
    title Firmino Changani — Developer
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon" href="/blog/img/favicon.png" type="image/png")
    meta(property="og:title" content="Firmino Changani — Developer")
    meta(property="og:url" content=page.permalink)
    meta(property="og:site_name" content="Firmino Changani — Developer")
    meta(property="og:type" content="blog")
    meta(property="og:description" content="Firmino is a software developer passionate about building projects based on Javascript and Nodejs.")
    meta(property="og:image" content=config.url + '/img/firminochangani.png')
    link(rel="stylesheet", href="/blog/css/main.css")
    link(href="https://fonts.googleapis.com/css?family=Nunito+Sans|Bitter:400,700|Press+Start+2P|Roboto:300,400,700&display=swap", rel="stylesheet")
  body.home
    .container
      include partial/header.pug
      .main-grid.wrap
        section.content
          each post in site.posts.toArray().sort((a, b) => a.date < b.date)
            a(href=post.permalink).post__link
              article.post
                .post__meta
                  .post__date= date(post.date, "LL")
                  h1.post__title=post.title

      include partial/footer.pug